@model AspMvcWebshop.Models.Product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Product - " + Model.Name;
}

<hr />

<section id="main-content" class="clearfix">
    <div id="product-image">
        <img alt="@Model.Name"
             src="@Model.ProductImg" />
    </div><!-- end product image -->
    <div id="product-details">
        <h1>Product: @Model.Name</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.
        </p>

        <hr />

        @*<form action="#" method="post" enctype="multipart/form-data">*@
            <label for="qty">Qty:</label>
            <input type="text" id="qty" name="qty" value="1" maxlength="2">
            <p class="secondary-cart-btn button">
                <img src="~/content/img/white-cart.gif" alt="Add to cart" />
                @Html.ActionLink("ADD TO CART", "AddToCart",
                    "ShoppingCart", new { id = Model.productId }, "")
            </p>
        @*</form>*@
        <p>
            <a href="#"><img src="~/content/img/wish.gif" alt="Add to Wishlist"> Add to Wishlist</a>
        </p>
    </div><!-- end product details -->
    <div id="product-info">
        <p class="price">HRK @String.Format("{0:F}", Model.Price)</p>
        <p>Availability: <span>In Stock</span></p>
        <p>Product Code: <span>@Model.productId</span></p>
    </div><!-- end product info -->
</section><!-- end main content -->

<hr />